<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL </title>
  </head>

  <body style="font-size:20px; padding:50px;">

    <header>
        <% include ./partials/_header
        %>
    </header>

    <h3>Login</h3>
    <form class="form-inline d-flex flex-column" action="/login" method="POST">
        <input type="email" style="width:50%;" name="email" placeholder="email" />
        <input type="password" style="width:50%;" name="password" placeholder="password" />
        <button type="submit" style="margin-top:10px;" class="btn btn-primary">login</button>
    </form>
  </body>
</html>